.tag {
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
  
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

li .tag {
  font-size: 12px;
  padding: 4px 16px;
}

.dark {
  background-color: var(--bg-tertiary);
}

.success {
  background-color: var(--color-success);
}

.info {
  background-color: var(--color-info);
}

.danger {
  background-color: var(--color-error);

}

.warning {
  background-color: var(--color-warning);
}

.deep-1 {
  background-color: var(--color-deep-1);
}
.deep-2 {
  background-color: var(--color-deep-2);
}
.deep-3 {
  background-color: var(--color-deep-3);
}
.deep-4 {
  background-color: var(--color-deep-4);
}

