.tag {
  padding: 5px 18px;
  border-radius: 15px;
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
}

.success {
  background-color: #4D891E;
}

.info {
  background-color: #1E8389;
}

.danger {
  background-color: #89381E;

}

.warning {
  background-color: #89711E;
}

.deep-1 {
  background-color: #854ece;
}
.deep-2 {
  background-color: #51248b;
}
.deep-3 {
  background-color: #35155e;
}
.deep-4 {
  background-color: #190b2c;
}

