.mediaPlayer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  z-index: 1;
}

.mediaPlayerBody {
  border-top: 2px solid #44464F;
  background-color: var(--bg-tertiary);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* gap: 50px; */
  height: 70px;
}

.volBtn {
  margin-left: auto;
}

.info {
  background-color: var(--bg-4);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.summary {
  /* background-color: red; */
  width: 300px;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.summary .title {
  font-size: 12px;
  font-weight: 700;
}

.summary small {
  font-weight: 400;
  color: var(--text-secondary);
}

.mediaPlayer .controls {
  /* flex: 1 1 100px; */
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.mediaPlayer .controls progress {
  width: 400px;
  height: 12px;
  background-color: var(--bg-5);
  border-radius: 7px;
  cursor: pointer;
  border: none;
}


.mediaPlayer .controls progress::-webkit-progress-bar {
  background-color: var(--bg-5);
  border-radius: 7px;
}

.mediaPlayer .controls progress::-webkit-progress-value {
  background-color: var(--color-primary);
  border-radius: 7px;
}

.mediaPlayer .controls progress::-moz-progress-bar {
  background-color: var(--color-primary);
  border-radius: 7px;
}

.mediaPlayer button {
  background: transparent;
  cursor: pointer;
}

.mediaPlayer svg {
  color: var(--text-color);
}