// @import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Lexend+Peta:wght@900&display=swap');

/*
  Theme and global variables
*/

:root {
  --font-family-title: 'Cinzel', serif;
  --font-family-title2: 'Lexend Peta', sans-serif;

  --text-title: #fff;
  --text-color: rgba(255, 255, 255, 0.829);
  --text-secondary: #CECECE;

  --border-color: #4e4e4e48;
  --bg-primary-opaque: rgb(0, 0, 0);
  --bg-primary: rgba(0, 0, 0, 0.363);
  --bg-secondary: #1a1a1a91;
  --bg-tertiary: #181818;
  --bg-4: #1B191F;
  --bg-5: #4D4D4D;
  --bg-6: rgba(77, 77, 77, 0.493);
  --bg-7: rgba(77, 77, 77, 0.308);


  --gradient-bg1: linear-gradient(180deg, #16011A 8%, rgba(0, 0, 0, 0.99) 18%, rgba(0, 0, 0, 0.911) 100%);
  --gradient-bg2: linear-gradient(143deg, #000 7.25%, #2C0732 57.22%, rgba(42, 1, 49, 0.91) 89.5%), #FFF;

  --color-primary: hsl(291, 58%, 24%);
  --color-primary-lighten1: hsl(290, 50%, 40%);
  --color-primary-lighten2: hsl(290, 50%, 50%);
  --color-primary-lighten3: hsl(290, 50%, 60%);

  --box-shadow-focus: 0px 0px 3px 1px var(--color-primary-lighten3);

  --color-success: hsl(94, 64%, 33%);
  --color-warning: hsl(47, 64%, 33%);
  --color-error: hsl(15, 64%, 33%);
  --color-info: hsl(183, 64%, 33%);
  --color-gray-100: hsl(0deg 0% 10%);
  --color-gray-300: hsl(0deg 0% 25%);
  --color-gray-500: hsl(0deg 0% 50%);
  --color-gray-700: hsl(0deg 0% 75%);
  --color-gray-900: hsl(0deg 0% 90%);

  --color-deep-1: hsl(241, 27%, 49%);
  --color-deep-2: hsl(265, 40%, 34%);
  --color-deep-3: hsl(281, 71%, 20%);
  --color-deep-4: hsl(265, 60%, 15%);
}

*::selection {
  background-color: var(--color-primary);
}

/*
  Custom styles
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.6;
  font-family: Roboto, Oxygen, sans-serif;
  font-size: 15px;
  color: var(--text-color);

  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: 100%;
  background-image: var(--gradient-bg1);
}
