@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Lexend+Peta:wght@900&display=swap');

// @tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Theme and global variables
*/
html,
body {
  height: auto;
  min-height: 100%;
}

:root {
  --border: 6px;
  --letter-spacing: 1.2px;
  --font-family-title: 'Cinzel', serif;
  --font-family-title2: 'Lexend Peta', sans-serif;

  --text-color: rgba(255, 255, 255, 0.829);
  --text-secondary: #CECECE;

  --border-color: #4e4e4e48;
  --bg-primary-opaque: rgb(0, 0, 0);
  --bg-primary: rgba(0, 0, 0, 0.363);
  --bg-secondary: #1a1a1a91;
  --bg-tertiary: hsl(0, 0%, 15%);
  --gradient-bg1: linear-gradient(180deg, #16011A 8%, rgba(0, 0, 0, 0.99) 18%, rgba(0, 0, 0, 0.911) 100%);
  --gradient-bg2: linear-gradient(143deg, #000 7.25%, #2C0732 57.22%, rgba(42, 1, 49, 0.91) 89.5%), #FFF;

  --color-primary: hsl(291, 58%, 24%);
  --color-primary-lighten1: hsl(290, 50%, 40%);
  --color-primary-lighten2: hsl(290, 50%, 50%);
  --color-primary-lighten3: hsl(290, 50%, 60%);

  --box-shadow-focus: 0px 0px 3px 1px var(--color-primary-lighten3);

  --color-success: hsl(94, 64%, 33%);
  --color-warning: hsl(47, 64%, 33%);
  --color-error: hsl(15, 64%, 33%);
  --color-info: hsl(183, 64%, 33%);
  --color-gray-100: hsl(0deg 0% 10%);
  --color-gray-300: hsl(0deg 0% 25%);
  --color-gray-500: hsl(0deg 0% 50%);
  --color-gray-700: hsl(0deg 0% 75%);
  --color-gray-900: hsl(0deg 0% 90%);

  --color-deep-1: hsl(241, 27%, 49%);
  --color-deep-2: hsl(265, 40%, 34%);
  --color-deep-3: hsl(281, 71%, 20%);
  --color-deep-4: hsl(265, 60%, 15%);
}

*::selection {
  background-color: var(--color-primary);
}

/*
  Custom styles
*/



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.6;
  font-family: Roboto, Oxygen, sans-serif;
  font-size: 15px;
  color: var(--text-color);


  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: 100%;
  background-image: var(--gradient-bg1);
}

select option {
  background-color: black;
}

p {
  margin-bottom: 0.6em;
  line-height: 1.4em;
}

.title1 {
  // font-family: 'Rubik', sans-serif;
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
  font-weight: 500;
}

.title2 {
  // font-family: 'Rubik Glitch', cursive;
  font-family: 'Lexend Peta', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 2em;
}

p.title2 {
  font-size: 20px;
  margin-bottom: 0px;
}

small.title2 {
  font-size: 14px;
  margin-bottom: 0px;
}

h1 {
  font-size: 70px;
}


h2 {
  font-size: 50px;
  // margin-top: -20px;
}

button {
  outline: none;
  border: none;
}

hr {
  border-color: var(--border-color);
}

.home p {
  margin-bottom: 2em;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  // line-height: 1.4em;
}

a {
  color: var(--color-primary-lighten1);
  display: flex;
  gap: 10px;
  text-decoration: none;
}

small {
  letter-spacing: var(--letter-spacing);
}

a:hover {
  color: var(--color-primary-lighten2)
}

a:visited {
  color: var(--color-primary-lighten3)
}

table th:focus-within {
  box-shadow: inset 0 0 0 0.15rem var(--color-primary-lighten);
  outline: 0 none;
}

.label {
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  // letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  color: var(--text-secondary);
}

.button {
  font-size: 13px;
  background-color: var(--color-primary);
  padding: 6px 16px;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  gap: 10px;
  border-radius: 20px;
}

button:focus,
input:focus,
select:focus {
  outline: none;
  box-shadow: var(--box-shadow-focus);
}