.table {
  width: 100%;
  font-family: sans-serif;
  border-collapse: collapse;
  vertical-align: middle;
}

.table tbody tr:nth-child(odd) {
  background-color: transparent;
}

.table tbody tr:nth-child(even) {
  /* background-color: var(--bg-primary); */
}

.table th,
.table td {
  border-right: 2px solid var(--border-color);
  padding: 15px 5px 15px 5px;
  min-width: 50px;
  max-width: 150px;
  height: 60px;
  text-align: center;
}

.table th:last-child,
.table td:last-child {
  border-right: none;
}

.table th,
.table th>* {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  word-wrap: break-word;
  color: var(--text-color);
}

.table th {
  background-color: var(--bg-secondary);
  border-bottom: 2px solid var(--border-color);
}

.table td {
  text-transform: titlecase;
  word-wrap: break-word;
  /* word-break: break-all; */
}

.sortBtn {
  background-color: transparent;
  padding: 0px;
  vertical-align: middle;
  border: 0px;
  outline: 0px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%
}

.sortBtn:hover {
  color: var(--color-primary-lighten1);
}

.sortBtnActive {
  color: var(--color-primary);
}

/* PAGINATION */

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.pagination button {
  color: var(--text-color);
  background: var(--bg-primary);
  font-size: 16px;
  height: 30px;
  width: 50px;
  outline: none;
  /* border: 1px solid var(--border-color); */
  cursor: pointer;
}

.pagination button:disabled {
  background: var(--bg-secondary);
  color: var(--color-gray-300)
}

.paginationItemActive {
  background: var(--color-primary) !important
}

/* search filter */

.label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  color: var(--text-secondary);
}

.search {
  border: 0.3px solid var(--border-color);
  height: 48px;
  padding: 5px 10px;
}

select.search {
  border-right: none;
  background-color: var(--bg-primary);
  color: var(--text-color);
}

input.search {
  background-color: var(--bg-primary);
  border-left: none;
  color: var(--text-color);
}

/* grid */

.grid {
  display: grid;
  /* grid-template-columns: 23.5% 23.5% 23.5% 23.5%; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.card:hover {
  transition: all 0.5s ease;
  border-color: var(--color-primary-lighten1);
}

--border {
  border-top-left-radius: var(--border);
  border-top-right-radius: var(--border);
}

.cardImgPlaceholder {
  border-top-left-radius: var(--border);
  border-top-right-radius: var(--border);
  height: 200px;
  width: 100%;
  background: #2C0732;
  background: linear-gradient(143deg, #000 7.25%, #2C0732 57.22%, rgba(42, 1, 49, 0.91) 89.5%),
}

.card img {
  height: 200px;
  width: 100%;
  border-radius: var(--border);

  object-fit: cover;
  object-position: 0px 20%;

  background-size: contain;
  margin-bottom: 10px;

  background: #2C0732;
  background: linear-gradient(143deg, #000 7.25%, #2C0732 57.22%, rgba(42, 1, 49, 0.91) 89.5%),
    #FFF;
}

.cardBody {
  padding: 10px 15px;
}

.cardBody ul {
  padding: 0px;
}

.cardBody ul li {
  list-style: none;
  padding: 12px 0px;
  /* max-height: 60px; */
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  border-bottom: 0.01em dashed var(--border-color);
}

.cardBody ul li:last-child {
  border-bottom: none;
}

.cardBody li p:not(:has(>span)) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cardBody li p,
.cardBody li ul,
.cardBody li label {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 14px;
  flex: 0 0 50%;
}

.cardBody li label {
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em;
}