.table {
  width: 100%;
  font-family: sans-serif;
  border-collapse: collapse;
  vertical-align: middle;
}

.table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table th,
.table td {
  /* border-bottom: 1px solid #888; */
  border-right: 1px solid #888;
  padding: 15px 5px 15px 5px;
  min-width: 50px;
  max-width: 150px;
  text-align: center;
}

.table th:last-child,
.table td:last-child {
  border-right: none;
}

.table th {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .04em;
  color: #444;
  word-wrap: break-word;
  /* text-align: left; */
}

.table td {
  text-transform: capitalize;
  word-wrap: break-word;
  /* word-break: break-all; */
}

.sortBtn {
  background-color: transparent;
  padding: 0px;
  vertical-align: middle;
  border: 0px;
  outline: 0px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%
}

.sortBtn:hover {
  color: rgb(107, 107, 107);
}

.sortBtnActive {
  color: rgb(148, 148, 148);
}

.paginationItem {
  font-family: sans-serif;
  color: #444;
  display: flex;
  vertical-align: middle;
}

.paginationItem button {
  font-size: 16px;
  min-height: 30px;
  padding: 0px 10px;
  border: 0.1px solid #fff;
  outline: none;
}

.paginationItemActive {
  background: #ddd
}
